:root {
  --height: 3px;
}

.timeContainer {
  position: relative;
  height: var(--height);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.timeUnderlay {
  position: absolute;
  height: var(--height);
  width: 100%;
  background: rgb(220, 220, 220);
}

.message {
  position: absolute;
  top: -1.75rem;
  right: 0;
  font-size: 1rem;
}
